:root {
  --green: hsl(75, 94%, 57%);
  --white: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
  --paragraph: 0.9rem;
  --weight-4: 400;
  --weight-6: 600;
  --weight-7: 700;
}

* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-size: var(--paragraph);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--Grey-900);
}
a {
  text-decoration: none;
  color: var(--white);
  display: block;
}

main {
  background-color: var(--Grey-800);
  border-radius: 0.5rem;
  width: 350px;
  /* height: 82vh; */
}

.name {
  color: var(--white);
  font-size: 2rem;
  margin-top: 0.5rem;
}

.location {
  color: var(--green);
  font-weight: var(--weight-6);
  margin-block: 0.7rem;
  font-size: 1.1rem;
}

.description {
  color: var(--white);
  margin-block: 2rem;
  color: hsl(0, 11%, 89%);
  font-weight: var(--weight-4);
  font-size: 1rem;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.1rem;
  width: 100%;
}
.social-links a {
  background-color: var(--Grey-700);
  display: flex;
  justify-content: center;
  display: block;
  width: 100%;
  border-radius: 0.3rem;
  padding-block: 1rem;
  font-size: 1rem;
  font-weight: var(--weight-7);
  letter-spacing: 0.05rem;
}

.profile-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 1.5rem;
}
.profile-image img {
  width: 6.5rem;
  height: 6.5rem;
  border-radius: 50%;
  margin-bottom: 1rem;
}
